
@{
    ViewBag.Title = "AnaSayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Content/tablo.css" rel="stylesheet" />
</head>
<div class="col-md-12 col-xs-12">
    @Html.Action("anasayfaPartial","Giris")
</div>

